/* Header Styles */
.header {
    text-align: center;
    padding: 20px 0;
    background-color: #1976d2; /* Primary color */
    color: #fff; /* Text color */
}

.mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.mat-raised-button {
    background-color: #f50057; /* Accent color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.mat-raised-button:hover {
    background-color: #d500f9; /* Accent color - darker shade */
}

/* Form Styles */
form {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3; /* Light gray background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit {
    text-align: center;
}

.submit button {
    background-color: #4caf50; /* Success color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit button:hover {
    background-color: #45a049; /* Success color - darker shade */
}
